@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Enable proper tabular number rendering */
    font-feature-settings: 'tnum' 1, 'kern' 1;
  }
  
  body {
    @apply font-sans text-base text-text-primary bg-bg-primary;
    margin: 0;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
}
